 <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
        <div class="container">
            <a class="navbar-brand" href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                {{#if user}}
                <li class="nav-item dropdown"><a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">Video ideas</a>
                    <div class="dropdown-menu">
                        <a href="/ideas" class="dropdown-item">Ideas</a>
                        <a href="/ideas/add" class="dropdown-item">Add idea</a>                   
                    </div>
                </li>
                 {{!-- <li class="nav-item">
                    <a href="/users/" class="nav-link">All users</a>
                </li> --}}
                
                <li class="nav-item pl-3" style="color:#fff">
                    <a href="users/profile" class="nav-link">
                        <small><i class="fas fa-user"></i>
                        {{user.name}}</small>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/users/logout" class="nav-link">Logout</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a href="/users/login" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="/users/register" class="nav-link mr-3">Register</a>
                </li>
                {{/if}}
            </ul>
        </div>  
    </div>    
    </nav>