

<div class="container">
    <div class="row">
        <div class="col-sm-5 ml-auto mr-auto">
            <div class="card card-body">
                <h3>Ideas</h3>
                <form action="/ideas" method="post">
                    <div class="form-group">
                        <label for=""></label><input type="text" class="form-control" name="title" value="title">
                    </div>
                    <div class="form-group">
                        <label for=""></label><textarea class="form-control" name="details"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

