{{#each errors}}
    <div class="alert alert-danger">{{text}}</div>
    {{ else }}
{{/each}}

<div class="container">
    <div class="row">
        <div class="col-sm-5 ml-auto mr-auto">
            <div class="card card-body">
                <h3 class="mb-3">Edit idea</h3>
                <form action="/ideas/{{idea.id}}?_method=PUT" method="post">
                <input type="hidden" name="_method" id="" value="PUT">
                    <div class="form-group">
                        <label for="">Title</label><input type="text" class="form-control" name="title" value="{{idea.title}}">
                    </div>
                    <div class="form-group">
                        <label for="">Details</label><textarea class="form-control" name="details">{{idea.details}}</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

