<div class="row">
    {{#each ideas}}
        <div class="mb-2 col-sm-4">
            <div class="card">
                <h5 class="card-header"><span class="badge  float-right">Idea</span></h5>
                <div class="card-body">
                    <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
                    <h5 class="card-title mt-3">{{title}}</h5>
                    <p class="card-text">{{details}}</p>
                    <a class="btn btn-danger btn-sm" href="/ideas/edit/{{id}}">Edit</a>
                    <form action="/ideas/{{id}}?_method=DELETE" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" class="btn btn-dander" value="delete">
                    </form>
                </div>
            </div>
        </div>
    {{else}}
        <p>No video ideas listed</p>
    {{/each}}
</div>
