
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <h3 class="text-center">Account register</h3>
            <form method="post" action="/users/register">
                <div class="form-group">
                    <label for="name">Name *</label>
                    <input type="text" class="form-control" required name="name" value="{{name}}"> 
                </div>
                
                <div class="form-group">
                    <label for="email">Email *</label>
                    <input type="email" class="form-control" required name="email" value="{{email}}">
                </div>

                <div class="form-group">
                    <label for="">Country *</label>
                    <select class="form-control" name="country" id="" required>
                        <option value="bulgaria">Bulgaria</option>
                        <option value="uk" selected>United Kingdom</option>                        
                    </select>
                </div>
               
                <div class="form-group">
                    <label for="">City *</label>
                    <input type="text" class="form-control" name="city" value="{{city}}">
                </div>
                
                <div class="form-group">
                    <label for="password">Password *</label>
                    <input type="password" class="form-control" required name="password" value="{{password}}">
                </div>

                <div class="form-group">
                    <label for="password2">Confirm Password *</label>
                    <input type="password" class="form-control" required name="password2" value="{{password2}}">
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>