<div class="row mt-5">
    {{#each users}}
        <div class="col-md-3">
            <small>
                <i class="fas fa-user"></i>
                {{name}}
            </small>
            <small class="d-block"><a href="">{{email}}</a></small>
            <small>{{date}}</small>
        </div>
    {{else}}
        <p>No user were found.</p>
    {{/each}}
</div>